:root{
  --sxxx:0.2rem;
  --sxx:0.4rem;
  --sx:0.6rem;
  --s:0.8rem;

  --m:1rem;
  --mx:1.2rem;
  --mxx:1.6rem;
  --mxxx:2.4rem;

  --l:4rem;
  --lx:7.2rem;
  --lxx:13.6rem;
  --lxxx:16.4rem;

  --text:#333;
  --primary:white;
  --secondary:#F5F5F5;
  --tertiary:#D9D9D9;
  --accent:#6200EA;
  --accent-hover:#40009b;
}

*{
  box-sizing:border-box;
  position:relative;
  user-select:none;
}
*::-webkit-scrollbar{
  display:none;
}

body{
  margin:0 auto;
  font-size:1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:var(--text);
}
button{
  border:none;
}
.selfCentered{
  left:50%;
  transform:translate(-50%,0%)
}
.childCentered{
  display:flex;
  justify-content:center;
  align-items:center;
}
.navbar{
  position:sticky;
  top:0;
  z-index:1;
}